.dropdown-menu {
    background-color: #d5d5e1;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 0px;
    padding-top: 0px;
}

.dropdown-item {
    color: #333333;
    padding: 8px 10px;
    transition: background-color 0.6s ease;
}

.dropdown-item:hover{

    background-color: #f16821;

}
.dropdown-item:focus {
    background-color: #f0f0f0;
    color: #333333;
}